body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 100px; // to make the content visually centered
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  img {
    margin-right: 32px;
  }
}
